# API Gateway Configuration
PORT=3000

# Microservice URLs
ORDER_SERVICE_URL=http://localhost:4003
AUTH_SERVICE_URL=http://localhost:4001
PRODUCT_SERVICE_URL=http://localhost:4004
PAYMENT_SERVICE_URL=http://localhost:4002

# Environment
NODE_ENV=development
